<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link rel="stylesheet" href="./style.css">
    <title>Signup</title>
  </head>

  <body>
    <main>
      <form
        class="form"
        action="/signup"
        method="post"
      >
        <h1 style="margin-bottom: 1rem">Registrati</h1>

        <div style="width: 100%;">
          <input
            type="email"
            name="email"
            placeholder="Email"
          />

          <% 
            const emailError = error?.find(e => e.field == 'email') 
            if (emailError) { 
          %>
          <span class="error"> <%= emailError.message %> </span>
          <% } %>
        </div>

        <div style="width: 100%;">
          <input
            type="text"
            name="password"
            placeholder="Password"
          />

          <% 
            const passwordError = error?.find(e => e.field == 'password') 
            if (passwordError) { 
          %>
          <span class="error"> <%= passwordError.message %> </span>
          <% } %>
        </div>

        <div style="width: 100%; font-size: small;">
            <a href="/signin">Hai già un'account?</a>
        </div>

        <button>Registrati</button>
      </form>
    </main>
  </body>
</html>
